.site-footer{
  background: $secondary-color;
  padding: 60px 0;
  &-logo{
    margin-bottom: 25px;
    @include mobile{
      text-align: center;
    }
  }
  &-widget{
    @include desktop{
      margin-bottom: 40px;
    }
    @include mobile{
      text-align: center;
    }
    &-title{
      color: $white;
      margin-bottom: 30px;
      @include desktop{
        margin-bottom: 20px;
      }
        a{
        color: $white;
        text-decoration: underline;
           &:hover {
        color: $primary-color;
                   }
         }    
    }
    &-description{
      color: $white;
      line-height: 15px;
      a{
        color: $white;
        text-decoration: underline;
        &:hover {
            color: $primary-color;
                }
      }
    }
    &-links{
           a{
          color: $white;
          padding-right: 7px;
               transition: all 0.3s $site-ease;
               &:hover {
        color: $primary-color;
                       }
        }
    }
    &-top{
      @include mobile{
        text-align: center;
        display: block;
      }
      img{
        margin-bottom: 20px;
      }
      p{
        color: $white;
      }
    }
  }
}
